@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
  font-family: 'Poppins', serif;
   margin: 0;
   padding: 0;
   background: linear-gradient(to right, #00050D, #171E2A 93%);
   color: white;
   font-weight: lighter;
}
body{
    line-height: 1.6;
}
.heading{
  font-size: 45px;
  font-family: 'Mukta', serif;
  text-align: center;
  margin: 20px 0 40px 0;
  padding: 0px 40px;
  color: transparent;
  background: linear-gradient(to right, #171E2A, white 80%);
  text-transform: uppercase;
  -webkit-background-clip: text;
  
}
.sub-heading{
  font-family: 'Poppins', serif;
  font-size: medium;
  text-transform: capitalize;
  background: transparent;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
#search-input{
  width: 40%;
  max-width: 800px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  background: #171E2A;
}
#search-button{
  padding: 10px 20px;
  background: #171E2A;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
}
.search-results{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.search-result{
  margin-bottom: 60px;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #171E2A;
}
.search-result img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.2s ease-in-out;
}
.search-result:hover img{
  opacity: .8;
}
.search-result a{
  font-size: 20px;
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-transform: capitalize;
  background-color: #171E2A;
}
#showmore{
  background: #171E2A;
  font-size: 18px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin: 30px auto;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .search-results{
    padding: 20px;
  }
  .search-result{
    width: 45% ;
  }
}
@media (max-width: 480px) {
  .heading{
    padding: 20px;
  }
  .sub-heading{
    padding: 20px;
    margin-left: -15px;
  }
  .search-bar{
    width: 50%;
  }
  .search-result{
    width: 100% ;
  }
}